* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: calc(100% - 150px);
  margin: 0 auto;
  background-color: rgb(159, 159, 233);
}

h1 {
  text-align: center;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row > div {
  background-color: rgb(250, 230, 167);
  padding: 1rem 0;
  border: 1px solid black;
  font-size: 24px;
  text-align: center;
}
.col-12 {
  flex: 0 0 100%;
}

.col-11 {
  flex: 0 0 calc(100% / 12 * 11);
}

.col-10 {
  flex: 0 0 calc(100% / 12 * 10);
}

.col-9 {
  flex: 0 0 calc(100% / 12 * 9);
}

.col-8 {
  flex: 0 0 calc(100% / 12 * 8);
}

.col-7 {
  flex: 0 0 calc(100% / 12 * 7);
}

.col-6 {
  flex: 0 0 calc(100% / 12 * 6);
}

.col-5 {
  flex: 0 0 calc(100% / 12 * 5);
}

.col-4 {
  flex: 0 0 calc(100% / 12 * 4);
}

.col-3 {
  flex: 0 0 calc(100% / 12 * 3);
}

.col-2 {
  flex: 0 0 calc(100% / 12 * 2);
}

.col-1 {
  flex: 0 0 calc(100% / 12 * 1);
}
