.container {
  max-width: calc(100% - 150px);
  margin: 0 auto;
  border: 1px solid red;
}

h1 {
  text-align: center;
  padding: 10px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  & > div {
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
  }
}

//variables -- columns and gutters
$columns: 16;
$gutter: 15px;

$window-sizes: (
  xs: 340px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$breakpoints: xs, sm, md, lg, xl;

%foo {
  flex: 0 0 100%;
}
@each $br in $breakpoints {
  @for $i from 1 through $columns {
    .col-#{$br}-#{$i} {
      @extend %foo;
    }
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 100% / $columns * $i;
    padding: 0px $gutter;
  }
  .offset-#{$i} {
    margin-left: 100% / $columns * $i;
  }
  .order-#{$i} {
    order: #{$i};
  }
}

@each $br, $size in $window-sizes {
  @media only screen and (min-width: #{$size}) {
    @for $i from 1 through $columns {
      .col-#{$br}-#{$i} {
        flex: 0 0 100% / $columns * $i;
      }
      .offset-#{$br}-#{$i} {
        margin-left: 100% / $columns * $i;
      }
      .order-#{$br}-#{$i} {
        order: $i;
      }
    }
  }
}
